@use '../../../assets/styles/abstract' as a;

.footer {
  background: url('/images/bg-footer-squiggle.svg') no-repeat center;
  background-size: contain;
  justify-items: center;

  &__content {
    grid-area: 1/2;
    display: grid;
    gap: 2rem;
    color: a.$clr-neutrals-white;
    padding: 10rem 0;
    text-align: center;
    width: min(50rem, 100%);
  }
  
  &__form {
    gap: 1.5rem;
    width: 100%;
    
    @include a.breakpoint(medium) {
      grid-template-columns: 1fr 10rem;
      align-items: flex-start;
    }
  }
}