// Colors

// Main Colors

// Primary Colors
$clr-primary-color-cyan: #3EE9E5;
$clr-primary-color-blue-500: #093F68;
$clr-primary-color-blue-900: #080C20;

// Shadows

// Gradients

// Neutrals
$clr-neutrals-grey: #777F98;
$clr-neutrals-white: #ffffff;
$clr-neutrals-black: #000000;

// Specific Colors
$clr-background: #080C20;
$clr-errors: #FF2965;

